<div class="w-screen h-screen bg-gray-100 relative">
    <div class="absolute w-full h-full">
        <img class="absolute w-96 left-0 bottom-0" src="/svg/login-bg-left.svg" alt="bg left">
        <img class="absolute w-96 right-0 bottom-0" src="/svg/login-bg-rigth.svg" alt="bg rigth">
    </div>

    <div class="relative w-3/12 m-auto bg-white rounded shadow top-10">
        <header class="pt-6 pb-2 flex justify-center">
            <img class="w-40" src="/images/logo/logo-gradient-blue-trello.png" alt="">
        </header>

        <div class="py-4 px-6">
            <div class="mb-4">
                <h1 class="text-center font-semibold pt-4 pb-8">Log In to Trello</h1>
                <form novalidate class="space-y-4">
                    <div class="relative">
                        <input placeholder="Enter Email" type="email"
                            class="w-full rounded bg-gray-100 border-2 border-gray-300">
                    </div>
                    <div class="relative">
                        <input placeholder="Enter password" type="password"
                            class="w-full rounded bg-gray-100 border-2 border-gray-300">
                    </div>
                    <div class="">
                        <button class="text-white w-full font-medium rounded text-sm bg-green-700 px-5 py-2">
                            Log In
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- <div class="px-6">
            <h1 class="text-center font-semibold pb-4">Or</h1>
            <button class="text-black w-full font-medium rounded text-sm bg-white px-5 py-2 border-black" type="button">Google</button>
        </div>

        <div class="flex justify-center items-center">
            <div class="w-10/12 h-0.5 bg-gray-300"></div>
        </div>
        <div>
            <img src="/images/logo/logo-atlassian-gray.png" alt="">
        </div> -->
    </div>
</div>